fastapi==0.110.0
uvicorn==0.29.0
jinja2==3.1.3
python-multipart
pydantic==2.6.4

pandas==2.3.3
numpy==1.26.4

pdfplumber
python-docx
pdfminer.six

sentence-transformers==2.2.2
torch

gunicorn==21.2.0
